--
-- PostgreSQL database dump
--

\restrict Y6N6MlToP8dLFKhspvdmck6NmB3Vp5TUbvhp0xFYWQ7spRjzU1ZidJkyq6FaETI

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: energy; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA energy;


ALTER SCHEMA energy OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: meter_readings_raw; Type: TABLE; Schema: energy; Owner: postgres
--

CREATE TABLE energy.meter_readings_raw (
    ts timestamp with time zone DEFAULT now() NOT NULL,
    meter_id text NOT NULL,
    meter_path text NOT NULL,
    unit_id integer NOT NULL,
    v_l1 double precision,
    v_l2 double precision,
    v_l3 double precision,
    i_l1 double precision,
    i_l2 double precision,
    i_l3 double precision,
    p_kw double precision,
    q_kvar double precision,
    s_kva double precision,
    pf double precision,
    freq_hz double precision,
    thd_v_pct double precision,
    thd_i_pct double precision,
    p_l1_kw double precision,
    p_l2_kw double precision,
    p_l3_kw double precision,
    pf_l1 double precision,
    pf_l2 double precision,
    pf_l3 double precision,
    kwh double precision,
    kvarh double precision,
    demand_kw double precision,
    source text DEFAULT 'sentron_emulator'::text,
    apfc_pf_before double precision,
    apfc_pf_after double precision,
    apfc_q_cap_kvar double precision,
    apfc_steps_active double precision,
    apfc_target_pf double precision,
    apfc_q_before_kvar double precision,
    apfc_q_after_kvar double precision,
    CONSTRAINT meter_id_check CHECK ((meter_id = ANY (ARRAY['Incomer'::text, 'PackLine1'::text, 'Utilities'::text])))
);


ALTER TABLE energy.meter_readings_raw OWNER TO postgres;

--
-- Name: meter_readings_1hour; Type: VIEW; Schema: energy; Owner: postgres
--

CREATE VIEW energy.meter_readings_1hour AS
 SELECT bucket,
    meter_id,
    meter_path,
    unit_id,
    p_kw_avg,
    p_kw_min,
    p_kw_max,
    q_kvar_avg,
    s_kva_avg,
    pf_avg,
    pf_min,
    pf_max,
    freq_hz_avg,
    thd_v_pct_avg,
    thd_i_pct_avg,
    thd_i_pct_max,
    kwh_delta,
    kvarh_delta,
    demand_kw_max,
    sample_count
   FROM _timescaledb_internal._materialized_hypertable_5;


ALTER VIEW energy.meter_readings_1hour OWNER TO postgres;

--
-- Name: meter_readings_1min; Type: VIEW; Schema: energy; Owner: postgres
--

CREATE VIEW energy.meter_readings_1min AS
 SELECT bucket,
    meter_id,
    meter_path,
    unit_id,
    p_kw_avg,
    p_kw_min,
    p_kw_max,
    q_kvar_avg,
    s_kva_avg,
    pf_avg,
    pf_min,
    pf_max,
    freq_hz_avg,
    thd_v_pct_avg,
    thd_i_pct_avg,
    thd_i_pct_max,
    v_l1_avg,
    v_l2_avg,
    v_l3_avg,
    i_l1_avg,
    i_l2_avg,
    i_l3_avg,
    p_l1_kw_avg,
    p_l2_kw_avg,
    p_l3_kw_avg,
    pf_l1_avg,
    pf_l2_avg,
    pf_l3_avg,
    kwh_delta,
    kvarh_delta,
    demand_kw_max,
    sample_count
   FROM _timescaledb_internal._materialized_hypertable_4;


ALTER VIEW energy.meter_readings_1min OWNER TO postgres;

--
-- Name: idx_meter_readings_raw_meter_time; Type: INDEX; Schema: energy; Owner: postgres
--

CREATE INDEX idx_meter_readings_raw_meter_time ON energy.meter_readings_raw USING btree (meter_id, ts DESC);


--
-- Name: idx_meter_readings_raw_path_time; Type: INDEX; Schema: energy; Owner: postgres
--

CREATE INDEX idx_meter_readings_raw_path_time ON energy.meter_readings_raw USING btree (meter_path, ts DESC);


--
-- Name: meter_readings_raw_ts_idx; Type: INDEX; Schema: energy; Owner: postgres
--

CREATE INDEX meter_readings_raw_ts_idx ON energy.meter_readings_raw USING btree (ts DESC);


--
-- PostgreSQL database dump complete
--

\unrestrict Y6N6MlToP8dLFKhspvdmck6NmB3Vp5TUbvhp0xFYWQ7spRjzU1ZidJkyq6FaETI

